<div class="container mt-3" style="width: 500px">
  <h2>Create form</h2>
  <form [formGroup]="formCreate" (submit)="createTour()">
    <div class="mb-3 mt-3">
      <label>Input Name:</label>
      <input type="text" class="form-control" placeholder="Enter Name" formControlName="name">
    </div>
    <div class="mb-3 mt-3">
      <label>Input Image:</label>
      <input type="text" class="form-control" placeholder="Enter Url" formControlName="image">
    </div>
    <div class="mb-3 mt-3">
      <label>Input Price:</label>
      <input type="text" class="form-control" placeholder="Enter Price" formControlName="price">
    </div>
    <div class="mb-3 mt-3">
      <label>Input Status:</label>
      <input type="text" class="form-control" placeholder="Enter Status" formControlName="status">
    </div>
    <div class="mb-3 mt-3">
      <label>Input dayStart</label>
      <input type="text" class="form-control" placeholder="Enter dayStart" formControlName="dayStart">
    </div>
    <div class="mb-3 mt-3">
      <label>Input dayEnd</label>
      <input type="text" class="form-control" placeholder="Enter dayEnd" formControlName="dayEnd">
    </div>

    <div class="mb-3 mt-3">
      <label>Input avgPoint</label>
      <input type="text" class="form-control" placeholder="Enter avgPoint" formControlName="avgPoint">
    </div>

    <button class="btn btn-primary" routerLink="/admin">Back</button>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
